# comment
tempfile.txt
tempfile2.txt
.DS_Store
*.zip
*.gz
log/*.log
log/*.log.[0-9]
assets/photoshop/
assets/videos/
# but dont ignore this
!assets/videos/tour_*.mp4

# Q: would log/archive/access.log be ignored? no
